<form xmlns="http://www.w3.org/1999/html">
  <div class="inner-addon left-addon col-lg-8 col-lg-offset-2 margin-top">
  <h2 class="col-lg-offset-5 left">Sign in</h2>
    <i class="fa fa-user"></i>
    <input type="text" id="User" class="form-control" placeholder="User Name" required="true" autofocus="true" name="User" ng-model="User">
    <i class="fa fa-key"></i>
     <input type="password" id="Password" class="form-control" placeholder="Password" required="true" name="Password" ng-model="Password">
     <button class="btn btn-md btn-success margin-top left" type="submit" name="submit" ng-click="login()">Sign in</button>
    <button class="btn btn-md btn-success margin-top" ng-click="reset()" ng-show="hasLoggedIn">Reset Application</button>
  </div>
</form>