<form xmlns="http://www.w3.org/1999/html">
  <div class="inner-addon left-addon col-lg-6 col-lg-offset-3 margin-top">
    <h2 class="col-lg-offset-5">Sign in</h2>
    <i class="fa fa-user"></i>
    <input type="text" class="form-control margin-bottom" placeholder="User Name" required="true" autofocus="true" name="User" ng-model="User">
    <i class="fa fa-key"></i>
    <input type="password" class="form-control margin-bottom" placeholder="Password" required="true" name="Password" ng-model="Password">
    <button id="loginButton" class="btn btn-md btn-success margin-top float-center" type="submit" name="submit" ng-click="login()">Sign in
    </button>
  </div>
</form>