body {
  width: 80%;
  margin: 1% auto;
}

@navColor:  #5cb85c;
@navFontColor: #ffffff;
@borderRadius: 0.5em;

.navbar-header {
  width: 96%;
  margin: 1%;
  display: inline-block;
  vertical-align: middle;
}

.navbar-brand {
  color: @navFontColor;
}

.navigation, .home {
  background-color: @navColor;
  border-color: #4cae4c;
  min-height: 2em;
  text-align: justify;
  cursor: default;
  border-radius: @borderRadius;
}

.margin-top {
  margin-top: 1em;
}

.inner-addon {
  position: relative;
}

.inner-addon .fa {
  position: absolute;
  padding: 10px;
  margin-left: 15px;
  pointer-events: none;
}
.left-addon .fa {
   left: 0px;
}
.right-addon .fa {
    right: 0px;
}

.left-addon input  {
    padding-left:  30px;
}
.right-addon input {
    padding-right: 30px;
}