body {
  width: 80%;
  margin: 1% auto;
}

@navColor:  #5cb85c;
@navFontColor: #ffffff;
@borderRadius: 0.5em;

.navbar-header {
  width: 96%;
  margin: 1%;
  display: inline-block;
  vertical-align: middle;
}

.navbar-brand {
  color: @navFontColor;
}

.navigation, .home {
  background-color: @navColor;
  border-color: #4cae4c;
  min-height: 2em;
  text-align: justify;
  cursor: default;
  border-radius: @borderRadius;
}
.left-addon input  {
    padding-left:  30px;
}
.right-addon input {
    padding-right: 30px;
}

.margin-top {
  margin-top: 1em;
}
.margin-right {
  margin-right: 1em;
}

.inner-addon {
  position: relative;
}

.inner-addon .fa {
  position: absolute;
  padding: 10px;
  margin-top: 0.5em;
  pointer-events: none;
}
.left-addon .fa {
   left: 25%;
   margin-top: 1em;
}
.left-addon input  {
    padding-left: 30px;
    margin-top: 1em;
}
.float-right {
   float: right;
}
.form-control {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 28px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 50%;
    margin-left: 25%;
}
.form-control, output {
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
}
.left {
  margin-left: 48%;
}